@tailwind base;
@tailwind components;
@tailwind utilities;

:where(.menu li){
    position: unset!important;
}

.cart-icn:hover svg{
  stroke: #fff;
}

.swiper-button-prev, .swiper-button-next{
  width: unset!important;
  height: unset!important;
}

.swiper-button-prev:after{
  content: ''!important;
}

.swiper-button-next:after{
  content: ''!important;
}

.swiper-button-prev:after, .swiper-button-next:after{
  width: 40px!important;
  height: 40px!important;
}

.swiper-button-prev:after{
  background: url('/assets/icons/left-angle.svg');
}

.swiper-button-next:after{
  background: url('/assets/icons/right-angle.svg');
}

.swiper-pagination-bullet-active{
  background-color:var(--fallback-p,oklch(var(--p)))!important;
}

.product-img-card img{
  transition: all .2s ease-in-out;
}

.product-card:hover img{
  transform: scale(110%);
}

.product-card{
  @apply border border-gray-400 hover:border-primary p-2 !relative !block indicator col-span-1 w-full h-full
}

.data-\[state\=active\]\:shadow[data-state="active"]{
  background: #6d0076;
  position: relative;
}

.data-\[state\=active\]\:shadow[data-state="active"]::before{
  content: '';
  position: absolute;
  bottom: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #6d0076; /* Controls the color of the chevron */
  transform: rotate(0deg);
}

.article h1{
  @apply text-3xl font-bold mb-4
}

.article h2{
  @apply text-2xl font-semibold mb-3
}
.article h3{
  @apply text-xl font-semibold mb-3
}
.article h4{
  @apply text-lg font-semibold mb-3
}
.article h5{
  @apply text-base font-semibold mb-2
}
.article h6{
  @apply text-base font-semibold mb-2
}

.article p{
  @apply leading-normal mb-2
}

.article a{
  @apply underline text-primary
}

.article table{
  @apply table-auto border-collapse border border-slate-300
}

.article th{
  @apply border border-slate-300 p-2
}

.article ul{
  @apply list-disc ml-8 mb-4
}

.article li p{
  @apply mb-1
}
.article hr{
  @apply my-5
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.cl-internal-nfscg9{
  margin-right: 15px;
}

.cl-userButtonOuterIdentifier {
  color: #fff;
}

.cl-internal-1j7ahlv{
  border: 1px solid #ffffff80;
}

.input-field{
  @apply input input-bordered w-full rounded-none max-w-xs hover:border-primary/25 hover:outline-primary/25
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Adjust width as needed */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Adjust track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a0aec0; /* Adjust thumb color (gray-400 equivalent) */
  border-radius: 4px; /* Adjust border radius */
  border: 2px solid transparent;
  background-clip: padding-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #718096; /* Adjust hover thumb color (gray-600 equivalent) */
}

/* For Firefox (more limited styling options) */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #a0aec0 #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}

@media screen and (max-width:580px) {
  .swiper-button-prev{
    display: none!important;
  }
  .swiper-button-next{
    display: none!important;
  }
}

.related-products .swiper-slide {
  margin-bottom: 35px!important;
}
